@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Lato", "Poppins", sans-serif;
    background-color: #4fc3f7;
}

:root {
    --row-size: 100px;
    --mark-size: cal(var(--row-size) * .9); 
}

/* Logo section styling */

.center-section {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-img {
    height: 2rem;
    width: 2rem;
}

.logo-img:hover {
    transform: rotate(50deg);
}

#logo {
    padding: 10px;
    font-size: 2rem;
    color: #000000;
}

#logo > b {
    font-style: italic;
}

#logo-description {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 10px;
}

/* Options */ 

.options {
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.options-btn {
    padding: 10px;
    margin: 20px;
    font-size: 1.5rem;
    border: 3px solid #000000;
    border-radius: 35px;
    cursor: pointer;
}

.options-btn:hover {
    transform: rotate(3deg);
    transition: transform .5s ease-in-out;
    
}

#pvp-btn {
    background-color: #e53935;
    color: #ffffff;
}

#pvp-btn:hover {
    background-color: #f44336;
}

#pvb-btn {
    background-color: #f57c00;
    color: #ffffff;
}

#pvb-btn:hover {
    background-color: #ff9800;
}

#how-to-btn{
    background-color: #43a047;
    color: #ffffff;
}

#how-to-btn:hover {
    background-color: #4caf50;
}

.click-btn {
    color: #ffffff;
}

/* Player vs Player */

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.row {
    width: var(--row-size);
    height: var(--row-size);
    background-color: #000000;
    border: 1px solid #ffffff;
}

/* How to play modal section */
.how-to-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid #000000;
    border-radius: 10px;
    z-index: 10;
    background-color: #4caf50;
    color: #ffffff;
    width: 400px;
    max-width: 80%;
}

.how-to-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.how-to-modal-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    letter-spacing: 2px;
    font-weight: bold;
}

.how-to-modal-header .how-to-title {
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
}

.how-to-modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.how-to-modal-body {
    padding: 10px;
}

#how-to-overlay {
    pointer-events: none;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
}

#how-to-overlay.active {
    pointer-events: all;
    opacity: 1;
}

/* Footer content */

footer {
    padding: 10px;
    margin-top: 40px;
}

footer > ul {
    list-style: none;
    font-size: 2rem;
}

li > a {
    color: #000000;
}

li a:hover {
    opacity: 0.7;
}

#signature {
    font-size: 1rem;
    margin: 10px;
}

.show-inline {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}
