@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Lato", "Poppins", sans-serif;
    background-color: #4fc3f7;
}

/* Logo section styling */

.center-section {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#logo {
    padding: 10px;
    font-size: 2rem;
    color: #000000;
}

#logo > b {
    font-style: italic;
}

#logo-description {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 10px;
}

/* Options */ 

.options {
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.options-btn {
    padding: 10px;
    margin: 20px;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 35px;
}

#pvp-btn {
    background-color: #e53935;
    color: #ffffff;
}

#pvb-btn {
    background-color: #f57c00;
    color: #ffffff;
}

#how-to-btn{
    background-color: #4caf50;
    color: #ffffff;
}
